.Layout {
    padding: 60px 20px 20px;
}

.Layout-MenuItem {
    padding-left: 24px;
}

.Layout-MenuSubheader {
    line-height: 32px;
    text-transform: uppercase;
    font-size: 11px;
}

.Layout-MenuSection {
    min-width: 210px;
    margin-top: 16px;
}

.Layout-MenuButton {
    margin-left: -12px;
    margin-right: 20px;
}